{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    
    //object rest spread plugins
    //https://babeljs.io/docs/plugins/transform-object-rest-spread/
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "syntax-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types", "transform-react-constant-elements"]
    }
  }
}
